
/*--------القائمة مغلقة  ------*/
.menu-left-1{
    position: fixed;
    float: right;
    left:-260px;
    width: 260px;
    height: 100vh;
    background-color: #08526d;
    color: white;
    z-index: 999;
    transition: all 0.5s;
}
/*--------القائمة مفتوحة ------*/
.menu-open-1{
    left: 0px;
    background-color: #08526d;
    border-radius: 3px;    
}
/*--------الزر مغلق ------*/
.close-btn-1{
    display: block;
    height: px;
    font-size: 35px;
    float: left;
    padding: 0 13px;
    background-color: #08526d;
    cursor: pointer;
    position: ;
    left: 260px;
    line-height: 53px;
    transition: all 0.5s;
    border-radius: 3px;
    top: 142.5px;
    margin: 0px;
}
/*--------الزر مفتوح------*/
.open-btn-1{
    background-color: ;
    left: 260px;
    
}
/*--------تنسيق عناصر القائمة  ------*/
#father > li{
    list-style-type: none;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    border-bottom: 3px solid
        darkggray;
}
li:hover{
    background-color: #f1654c;
    color: white;
    
}
/*--------تنسيق القائمة الفرعية ------*/
.son-1{
    display: none;
    width: 100% !important;
}
.son-1 > li{
    background-color:  #082540;
    color: white;
}
.son-1 > li:hover{
    background-color: #f1654c;
    
}




/*--------------------------*/

