
/*--- الصورة متجاوبة مع حجم الصفحة-----*/
.cycle-slideshow img{
    max-width: 100%;
    width: 100%;
    height:100%;
}
/*------الحجم داخل الاطار----*/
.cycle-slideshow{
    width:;
    max-width: 1400px;
    max-height: 650px;
    display: block;
    border: 1px solid white;
}
.cycle-prev ,.cycle-next{
	font-size: 350%;
    color: #222;
    display:block;
    position: absolute;
    top: 40%;
    z-index: 999;
    cursor: pointer;
}

.cycle-prev {left: 5%;}
.cycle-next {right: 5%;}

/*-------التحكم في الازرار اسفل الصورة------*/
.cycle-pager{
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 978;
    bottom: 20px;
}
.cycle-pager span{
    cursor: pointer;/*ازرار*/
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    text-indent:%;/*--ازاحة----*/
    white-space: nowrap;/*for all browser*/
	color:white;
}
/*-----END -------*/
.cycle-pager .cycle-pager-active{
    background-color: white;
}
